@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat-regular.woff") format("woff");
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	background: grey;
	color: white;
}

header h1 {
	display:block;
	margin:0px;
    font-size:30px;
    padding-left: 10px;
    opacity: 1;
    transition: opacity 1s linear;
}

header h1:hover {
	opacity: 0;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

header h1,
header nav {
	   vertical-align: middle;
	   display: inline-block;
}

nav ul li {
	display: inline-block;
	padding: 25px;
	opacity: 1;
	transition: opacity 3s linear;
}

nav ul li:hover {
	opacity: 0;
}

nav ul li a {
	color: white;
	text-decoration:none;
	transition: color 2s linear;
}

nav ul li a:hover {
	color: red;
}



div {
	object-position: auto;
	text-align: center;
	margin: auto;
	position: top;
}



section {
	margin:auto;
	text-align: center;
   }
section p {
	position: bottom;
	text-align: center;

}









.bb, .bb::before, .bb::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb {
  width: 200px;
  height: 200px;
  margin: auto;
  background: url("./imgs/stanley.png") no-repeat 50%/70% rgba(0, 0, 0, 0.1);
  color: #69ca62;
  box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 0.5);
}
.bb::before, .bb::after {
  content: '';
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
}
.bb::before {
  animation-delay: -4s;
}
.bb:hover::after, .bb:hover::before {
  background-color: rgba(255, 0, 0, 0.3);
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 220px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }
  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }
  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}
html,
body {
  height: 100%;
}

body {
  position: auto;
  background-color: #0f222b;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}











 section p a {
 	color: #1abc9c;
 	text-decoration: none;
 }

